.Rproj.user
.Rhistory
.RData
.Ruserdata
*/.idea/*
# Let's allow shared run configurations
!api_service/.idea/runConfigurations/
*.pyc
*.egg-info
*__pycache__*
api_service/docs_src/seattle_flu*rst
data/*
.pg_service.conf
.pgpass
model_data/*
models.db
dbViewR_*.tar.gz
modelServR_*.tar.gz
incidenceMapR_*.tar.gz
modelDB.tsv
test_model_store/*
plots/*
test_jobs/*
